<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zhiduoming.mapper.EmpExprMapper">

    <!--批量保存员工经历信息-->
    <insert id="insertBatch">
        INSERT INTO emp_expr (emp_id,begin,end,company,job) VALUES
        <foreach collection="exprList" item="expr" separator=",">
            (#{expr.empId},#{expr.begin},#{expr.end},#{expr.company},#{expr.job})
        </foreach>
    </insert>

    <delete id="deleteByEmpIds">
        DELETE FROM emp_expr WHERE emp_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--根据员工 id 查询员工经历信息-->
    <select id="getByEmpId" resultType="com.github.zhiduoming.pojo.EmpExpr">
        SELECT *
        FROM emp_expr
        WHERE emp_id = #{empId}
        ORDER BY begin
    </select>

    <!--根据员工 id 删除员工经历信息-->
    <delete id="deleteByEmpId">
        DELETE FROM emp_expr WHERE emp_id = #{empId}
    </delete>
</mapper>
