<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zhiduoming.mapper.EmpMapper">

    <select id="list" resultType="com.github.zhiduoming.pojo.Emp">
        SELECT e.*,d.name deptName FROM emp e LEFT JOIN dept d ON e.dept_id = d.id
        <where>
            <if test="name!=null and name!=''">
                e.name LIKE concat('%',#{name},'%')
            </if>
            <if test="gender!=null">
                AND e.gender = #{gender}
            </if>
            <if test="begin!=null and end !=null">
                AND e.entry_date BETWEEN #{begin} AND #{end}
            </if>
        </where>
        ORDER BY e.update_time DESC
    </select>

    <!--根据用户名和密码查询员工信息-->
    <select id="getByUsernameAndPassword" resultType="com.github.zhiduoming.pojo.Emp">
        SELECT *
        FROM emp
        WHERE username = #{username}
          AND password = #{password}
    </select>

    <!--根据 id 查询员工基本信息-->
    <select id="getById" resultType="com.github.zhiduoming.pojo.Emp">
        SELECT e.*, d.name deptName
        FROM emp e LEFT JOIN dept d ON e.dept_id = d.id
        WHERE e.id = #{id}
    </select>

    <!--根据 id 修改员工基本信息-->
    <update id="update">
        UPDATE emp
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="job != null">job = #{job},</if>
            <if test="salary != null">salary = #{salary},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="entryDate != null">entry_date = #{entryDate},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            update_time = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>

    <!--根据 id 删除员工-->
    <delete id="deleteByIds">
        DELETE FROM emp WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



</mapper>
